<% provide(:title, 'About Me') %>
<p>Web developer, graphic designer, and all-around perfectionist. I have an IT degree and I developed my first website in 2002. To this day, I continue to hone my web development skills and remain deeply in love with beautifully rendered pixels. Lately though I’ve traded in the pencil for Inkscape and GIMP to design eye-catching graphics. Outside of the virtual world, I love reading, going to punk shows, and traveling. Also, I’m always on a mission to find the best foods from all over the world so if you know of a great spot in NYC, drop me a note. You can read more of my unapologetic opinions at <%= link_to "Blog", a href="http://curmudgeonintransit.com" %>curmudgeonintransit.com</a>. </p>


