<h1 id="titledrop">Hello, you have reached a (mostly) dichromatic digital studio.</h1>
<div id="contentslide">
	<p>This studio is powered by a highly persistent creative force and concept developer with the aid of a pedantic systems engineer in SoHo. You are visiting NYC Webcraft -- a freelance web development studio responsible for some highly creative, visually stunning, and fully functional websites. And oh, I've put out some neat graphics too.</p>

	<p>Have a look at NYC Webcraft's <%= link_to "Portfolio", portfolio_path %> for previous design accomplishments. If you like what you see, drop a <a title="Contact Us" href="http://nycwebcraft.com/contact-us/">note</a> and I'll be happy to collaborate with you.</p>
</div>
