/******************************************************************
Site Name: NYC Webcraft
Author: Maria Theresa Bermudez

Stylesheet: Desktop Stylesheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 
******************************************************************/

/*********************
GENERAL STYLES
*********************/

/*********************
HEADER STYLES
*********************/
.header {
  background: url('../images/header_bg6.png') repeat-x scroll;
	width: 100%;
	position:fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
}
#inner-header {
  border-bottom: 6px double #000;

 .logo {
  background: url('../images/header_bg_v2.png');
 }
  
 h5 {
  display:none;}
}
/*********************
LAYOUT & GRID STYLES
*********************/
#leftbar{
   display: visible;
	
}
#rightbar{
   display: visible;
}
#main{
        width: 74%;
        height: 74%;
        position: fixed;
	     left: 13%;      
        top: 15%;
  	     margin: auto;
	     padding-top: 65px;
	     overflow-y:auto;
        overflow-x:hidden;
	}
#leftbar {
        display: block;
        width: 10%;
        left:0;
        position:fixed;
	      bottom:0;
	      top: 115px;
}
#rightbar {
        display: block;
        width: 10%;
        right:0;
        position:fixed;
	      bottom:0;
	      top: 115px;
	     }
.stretch {
width:100%;
height:100%;}
/*********************
NAVIGATION STYLES
*********************/
/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/
.nav {
  width: 70%;  
  margin: auto;
  margin-top: -4px;
  line-height: 1.5;


  /* end .menu li */

  /* highlight current page */

  /* end current highlighters */
}

.nav li {width: 30%;}
.nav li:first-child {	
  /*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/

}

	
.nav li a {
  display: block;
  padding-top: 4px;
  background: #fff;
  text-decoration: none;
  font-size: 1.7em;
  font-family: 'Wizards Magic';
  color: #000;
  text-align: center;  
 -webkit-border-bottom-right-radius: 50px;
  -webkit-border-bottom-left-radius: 70px;
  -moz-border-radius-bottomright: 50px;
  -moz-border-radius-bottomleft: 70px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 70px;
  box-shadow: 0 2px 0 rgb(51, 51, 51), 0 0 1px rgb(51, 51, 51);

}

.nav li:first-child+li {
	width: 40%; 
	line-height: 4rem; 
	font-size: 1.4em;
	}
	
.nav li:first-child+li a { -webkit-border-bottom-right-radius: 60px;
  -webkit-border-bottom-left-radius: 60px;
  -moz-border-radius-bottomright: 60px;
  -moz-border-radius-bottomleft: 60px;
  border-bottom-right-radius: 60px;
  border-bottom-left-radius: 60px;	
  }

.nav li ul.sub-menu { border: none;}

.nav li ul.sub-menu li,
.nav li ul.children li {
  float: none;
  margin: auto;
  width: 65%;
  border-top: 1px solid #000;
}

.nav li ul.sub-menu li:last-child {
	width: 45%;
}

.nav li ul.sub-menu li a {
	  font-size: 1.2rem;
          line-height: 2rem;
          padding: 0 20px;
	  }

.nav li.current-menu-ancestor > a {
	background: #111111;
	border-top-left-radius: 0;
   border-top-right-radius: 0; 
	border-bottom-left-radius: 70px;
   border-bottom-right-radius: 50px; 
   color: #ffffff;}

.nav li.current-menu-item > a {
	background: #111111;
	border-top-left-radius: 0;
   border-top-right-radius: 0; 
	border-bottom-left-radius: 70px;
   border-bottom-right-radius: 50px; 
   color: #ffffff;}
/* end .nav */

